# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/android/
mobile/ios/
mobile/linux/
mobile/macos/
mobile/windows/
mobile/web/
mobile/*.iml

ferme/.dart_tool/
ferme/.flutter-plugins
ferme/.flutter-plugins-dependencies
ferme/.packages
ferme/.pub-cache/
ferme/.pub/
ferme/build/
ferme/android/
ferme/ios/
ferme/linux/
ferme/macos/
ferme/windows/
ferme/web/
ferme/*.iml

# Secrets
*.env
.env.*
serviceAccountKey.json
google-services.json

# Editors / OS
.vscode/
.idea/
.DS_Store
